<div class="container-fluid">
    <div class="row">
        <h2 class="sub-header">Details</h2>
    </div>
    <div class="row">
        <div class="col-lg-offset-1 col-lg-4">
            <img ng-src="{{movie.Poster}}" height="300px" class="pull-left"/>
        </div>
        <div class="col-lg-6 col-lg-offset-1">
           <!-- <section class="all-side-padding">-->
                <h3>{{movie.Title}}</h3>
                <p>{{movie.Plot}}</p>
            <!--</section>-->
        </div>
    </div>
    <div class="row top-buffer">
        <h3>Other details</h3>
        <div class="col-lg-6">
            <p>Year: {{movie.Year}}</p>
            <p>Rated: {{movie.Rated}}</p>
            <p>Released: {{movie.Released}}</p>
            <p>Runtime: {{movie.Runtime}}</p>
            <p>Language: {{movie.Language}}</p>
            <p>Country: {{movie.Country}}</p>
            <p>Rating by users: {{movie.imdbRating}}</p>
        </div>
        <div class="col-lg-6">
            <h5>Actors:</h5>
            <ul>
                <li ng-repeat="name in movie.Actors.split(',')">
                    {{name}}
                </li>
            </ul>
            <p>Director: {{movie.Director}}</p>
            <p>Writer: {{movie.Writer}}</p>
            <p>Awards: {{movie.Awards}}</p>
        </div>
    </div>
</div>