<div ng-switch="myVar">
    <div ng-switch-when="single">
        <dialog>
            <div class="form-group">
                <label for="firstName" class="col-lg-2 control-label labels">Label</label>
                <div class="col-lg-6">
                    <input type="text" class="form-control" id="firstName" placeholder="First Name"/>
                </div>
                <button class="btn btn-warning">Cancel</button>
                <button class="btn btn-success">Ok</button>
            </div>
        </dialog>
    </div>
    <div ng-switch-when="multiple">
        <dialog>
            <div class="form-group">
                <label for="firstName" class="col-lg-2 control-label labels">Label</label>
                <div class="col-lg-6">
                    <input type="text" class="form-control" id="firstName" placeholder="First Name"/>
                </div>
                <button class="btn btn-warning">Cancel</button>
                <button class="btn btn-success">Ok</button>
            </div>
        </dialog>
    </div>
    <div ng-switch-when="date">
        <dialog>
            <div class="form-group">
                <label for="firstName" class="col-lg-2 control-label labels">Label</label>
                <button class="btn btn-warning">Cancel</button>
                <button class="btn btn-success">Ok</button>
            </div>
        </dialog>
    </div>
    <div ng-switch-when="dropdown">
        <dialog>
            <div class="form-group">
                <label for="firstName" class="col-lg-2 control-label labels">Label</label>
                <div class="col-lg-6">
                    <input type="text" class="form-control" id="firstName" placeholder="First Name"/>
                </div>
                <button class="btn btn-warning">Cancel</button>
                <button class="btn btn-success">Ok</button>
            </div>
        </dialog>
    </div>
    <div ng-switch-when="checkbox">
        <dialog>
            <div class="form-group">
                <label for="firstName" class="col-lg-2 control-label labels">Label</label>
                <div class="col-lg-6">
                    <input type="text" class="form-control" id="firstName" placeholder="First Name"/>
                </div>
                <button class="btn btn-warning">Cancel</button>
                <button class="btn btn-success">Ok</button>
            </div>
        </dialog>
    </div>
    <div ng-switch-when="radio">
        <dialog>
            <div class="form-group">
                <label for="firstName" class="col-lg-2 control-label labels">Label</label>
                <div class="col-lg-6">
                    <input type="text" class="form-control" id="firstName" placeholder="First Name"/>
                </div>
                <button class="btn btn-warning">Cancel</button>
                <button class="btn btn-success">Ok</button>
            </div>
        </dialog>
    </div>
    <div ng-switch-default>
        <dialog></dialog>
    </div>
</div>