<div class="container">
    <h2>Admin</h2>
    <h3 class="sub-header">Users</h3>
    <table width="100%" border="1" id="demo_datatables" class="table table-responsive">
        <thead>
        <tr>
            <th>Username</th>
            <th>Password</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Roles</th>
            <th>Actions</th>
        </tr>
        <tr>
            <th><input ng-model="currentUser.username" class="form-control" placeholder="Title"/></th>
            <th><input ng-model="currentUser.password" class="form-control" placeholder="password" type="password"/></th>
            <th><input ng-model="currentUser.firstname" class="form-control" placeholder="first name"/></th>
            <th><input ng-model="currentUser.lastname" class="form-control" placeholder="last name"/></th>
            <th><input ng-model="currentUser.roles" class="form-control" placeholder="roles"/></th>
            <th>
                <button ng-click="addUser(currentUser)" class="btn btn-primary">
                    Add
                </button>
                <button
                        ng-click="updateUser(currentUser)"
                        class="btn btn-success">
                    Update
                </button>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in users">
            <td>{{user.username}}</td>
            <td>{{user.password}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.roles}}</td>
            <td>
                <a
                        ng-click="removeUser(user.username)"
                        class="btn btn-danger">
                    Delete
                </a>
                <a
                        ng-click="editUser(user)" class="btn btn-warning">
                    Edit
                </a>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <!--<tr>
            <td colspan="3">Total</td>
            <td>745</td>//no of users
        </tr>
        </tfoot>-->
    </table>
</div>

<script>
    $(document).ready( function () {
        var table = $('#demo_datatables').DataTable();
    } );
    $('#demo_datatables').dataTable( {
        "pageLength": 5,
        "aoColumnDefs": [ { "bSortable": false, "aTargets": [ 1, 3 ] }]
    } );
</script>