<div class="container">
    <div class="row top-buffer">
        <div class="col-lg-2">
            <div ng-include="'../sidebar/sidebar.view.html'"></div>
        </div>
        <div class="col-lg-10">
            <h2>Admin</h2>
            <h3 class="sub-header">Users</h3>
            <table width="100%" border="1" id="demo_datatables" class="table table-responsive">
                <thead>
                <tr>
                    <th>Username</th>
                    <th>Password</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Roles</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in users1">
                    <td>{{user.username}}</td>
                    <td>{{user.password}}</td>
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.roles}}</td>
                    <td>
                        <a ng-click="followUser(user.username)" class="btn btn-primary">
                            Add
                        </a>
                        <a ng-click="removeUser(user.username)" class="btn btn-danger">
                            Delete
                        </a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <!--<tr>
                    <td colspan="3">Total</td>
                    <td>745</td>//no of users
                </tr>
                </tfoot>-->
            </table>
            <br/>
            <br/>
            <h3>Your friend list...</h3>
            <ul>
                <li ng-repeat="name in following">
                    {{name}}
                </li>
            </ul>
        </div>
    </div>
</div>

<!--
<script>
    $(document).ready( function () {
        var table = $('#demo_datatables').DataTable();
    } );
    $('#demo_datatables').dataTable( {
        "pageLength": 5,
        "aoColumnDefs": [ { "bSortable": false, "aTargets": [ 1, 3 ] }]
    } );
</script>-->
