.topnavmenu {
    font-size:18px
}

.top-buffer {
    margin: 30px;
}

.myform-group {
    background-color: gainsboro;
    border-style: dotted;
    padding: 15px;
    -moz-border-radius: 25px 10px / 10px 25px;
    border-radius: 25px 10px / 10px 25px;
}

.area-top {
    position:fixed;
}

.main-content {
    background-color: whitesmoke;
}