.top-buffer {
    margin: 30px;
}

body {
    margin: 20px;
    padding:20px;
}

.all-side-padding {
    padding-left: 30px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.websitename {
    font-size: 32px;
    text-align: left;
    font-family: Cambria;
    color: #151B8D;
    text-decoration: underline;
}

.navbar-default {
    color: #151B8D;
    background-color: #151B8D;
    background-image: none;
}

.labels {
    font-weight: bold;
    text-align: left !important;
}

.para {
    text-align: justify;
    text-justify: inter-word;
    word-spacing: 5px;
    font-size: medium;
}

.leftnavmenu {
    font-size: 20px;
}

.topnavmenu {
    font-size:18px
}

.top-buffer {
    margin: 30px;
}

.myform-group {
    background-color: #A0CFEC;
    border-style: dotted;
    padding: 15px;
    -moz-border-radius: 25px 10px / 10px 25px;
    border-radius: 25px 10px / 10px 25px;
}

.area-top {
    position:fixed;
}

.main-content {
    background-color: #FEFCFF;
}

blockquote {
    background: #fffaf0;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
    color: #000000;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}