<div class="col-lg-3">
    <p class="websitename"><a href="#/home">Form Maker</a></p>
</div>
<div class="col-lg-9 topnavmenu" align="right">
    <ul class="nav nav-tabs navbar-right" id="topmenu" ng-hide="isUserLoggedIn">
        <li ng-class="{'active': location.url() == '/register'}"><a href="#/register">Register</a></li>
        <li class="nav-divider"></li>
        <li ng-class="{'active': location.url() == '/login'}"><a href="#/login">Login</a></li>
    </ul>
    <ul class="nav nav-tabs navbar-right" id="topmenu" ng-show="isUserLoggedIn">
        <li><a href="#/profile">Username</a></li>
        <li><a href="#/home">Logout</a></li>
    </ul>
</div>