<h3 class="sub-header">Profile</h3>
<form class="form-horizontal">
    <div class="form-group">
        <label for="username" class="col-sm-2 control-label labels">Username:</label>
        <div class="col-sm-6">
        <input type="text" class="form-control placeholder" id="username" placeholder="Username" ng-model="uname">
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword" class="col-sm-2 control-label labels">Password:</label>
        <div class="col-sm-6">
        <input type="password" class="form-control placeholder" id="inputPassword" placeholder="Password" ng-model="pword">
        </div>
    </div>
    <div class="form-group">
        <label for="firstName" class="col-sm-2 control-label labels">First Name:</label>
        <div class="col-sm-6">
        <input type="text" class="form-control placeholder" id="firstName" placeholder="First Name" ng-model="fname">
        </div>
    </div>
    <div class="form-group">
        <label for="lastName" class="col-sm-2 control-label labels">Last Name:</label>
        <div class="col-sm-6">
        <input type="text" class="form-control placeholder" id="lastname" placeholder="Last Name" ng-model="lname">
        </div>
    </div>
    <div class="form-group">
        <label for="email" class="col-sm-2 control-label labels">Email:</label>
        <div class="col-sm-6">
        <input type="email" class="form-control placeholder" id="email" placeholder="Email" ng-model="email">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default" ng-click="update()">Update</button>
        </div>
    </div>
</form>