<div class="container-fluid">
    <div class="row top-buffer">
        <div class="col-lg-2">
            <div ng-include="'views/sidebar/sidebar.view.html'"></div>
        </div>
        <div class="col-lg-10">
            <h2 class="sub-header">Welcome {{currentUser.firstName}} {{currentUser.lastName}}</h2>
            <button ng-click="getMoviesForUser()" class="btn btn-success">Get my movie list</button>
            <div class="row top-buffer">
                <h3>Your movie list...</h3>
                <ul>
                    <li ng-repeat="movie in movieList">
                        {{movie}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>