<div class="container-fluid">
    <div class="row">
        <div class="col-lg-offset-2 col-lg-8 col-lg-offset-2">
            <section ng-show="data">
                <h3>Search Results</h3>
                <table class="table tabled-striped">
                    <thead>
                    <tr>
                        <th>Poster</th>
                        <th>Title</th>
                        <th>Year</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="movie in data.Search">
                        <td><img ng-src="{{movie.Poster}}" height="75px"/></td>
                        <td>
                            <a href="#/details/{{movie.imdbID}}">{{movie.Title}}</a>
                        </td>
                        <td>{{movie.Year}}</td>
                        <td><button ng-click="addMovie(movie.title)">Add</button></td>
                    </tr>
                    </tbody>
                </table>
            </section>
            <section ng-hide="data">
                <h5 style="color: red">The movie you searched for does not exist. Try another movie!</h5>
            </section>
        </div>
    </div>
</div>