<nav class="navbar navbar-default navbar-fixed-top" ng-controller="HeaderController">
    <div class="navbar-header">
        <img src="./images/papyrusLogo.jpg" alt="Logo missing" href="#/home" width="100px" height="50px"/>
    </div>
    <div>
        <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search movies..." ng-model="title">
            <a class="btn btn-default" role="button" ng-click="search(title)">Go!</a>
        </form>
    </div>
</nav>